<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title *ngIf="this.loadedMake.logo">{{this.loadedMake.name}}</ion-title>
  </ion-toolbar>
  <ion-toolbar *ngIf="this.loadedMake.logo">
    <ion-img style="height: 10vh !important; width: auto !important; align-items: center; padding-bottom: 10px;" *ngIf="this.loadedMake.logo" [src]="this.loadedMake.logo"></ion-img>
  </ion-toolbar>
</ion-header>

<ion-content style="padding-top: 24px;">
  <ion-item style="display: flex; padding-left: 20%; padding-top:8px;" lines="none">
    <ion-chip (click)="website()" [disabled]="!this.loadedMake.website" style="justify-content: center; display: flex; width: 66%; height: 60px; align-items:center; padding-right: 20px;">
      <ion-icon color="dark" name="earth-outline" style="width: 40px; height: 60px;"></ion-icon>
    </ion-chip>
  </ion-item>
</ion-content>