<ion-header>
  <ion-toolbar color="light">
    <ion-buttons  slot="start" style="padding-left: 0px; padding-top: 10px">
      <ion-button (click)="closeModal()">
        <ion-icon name="close-sharp"  size="large"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>  

<ion-content>
  <ion-item lines="full">
    <ion-label color="dark" expand="full"  style="padding-left: 0px">Name: </ion-label>
    <ion-input autocomplete="off" enterkeyhint = "done" placeholder="{{this.inputCredit.name}}" [(ngModel)]="this.inputCredit.name"></ion-input>
  </ion-item>
  
  <ion-button expand="block" fill="solid" strong = "true" color = "tertiary" size="default" (click)="submit()">Submit</ion-button>

  <ion-button expand="block" fill="solid" strong = "true" color = "danger" size="default" (click)="resetValues()">Reset Values to Default</ion-button>
</ion-content>