<ion-header>
  <ion-toolbar color="light">
 <ion-buttons  slot="start" style="padding-left: 0px; padding-top: 10px">
      <ion-button (click)="closeModal()">
        <ion-icon name="close-sharp"  size="large"></ion-icon>
      </ion-button>
      
    </ion-buttons>

    <ion-buttons slot="end" style="padding-right: 15px; padding-top: 5px">
      <ion-button *ngIf="!(this.selectOption || coasterInput == '')" (click)="this.selectOption = true" fill="clear">Select</ion-button>
      <ion-button  *ngIf="this.selectOption" (click)="this.selectOption = false; clearSelected()" fill="clear">Cancel</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>  

<ion-searchbar (keypress)="mainService.closeKeyboard($event.keyCode)" enterkeyhint = "done" animated placeholder="Search Database" inputmode="text" [(ngModel)]="coasterInput" debounce = "225" (ionInput)="searchItems($event.target.value)" (ionBlur)="this.searchFocus = false" (ionFocus)="this.searchFocus = true">
</ion-searchbar>


<ion-content>
      <ion-list>
        <ion-item *ngFor = "let coaster of searchList | slice:0:20" class="creditInList" (click)= "itemClicked(coaster);">

          <ion-avatar slot="end" *ngIf="this.selectOption">
            <ion-thumbnail size="large">
              <ion-checkbox checked="{{this.isSelected(coaster)}}"></ion-checkbox>
            </ion-thumbnail>
          </ion-avatar>

          <ion-avatar slot="start">
            <ion-thumbnail size="large">
              <ion-img [src] = "coastersService.getCoasterSmallImage(coaster?.image)">

                  </ion-img>
            </ion-thumbnail>
          </ion-avatar>
          
          <ion-col>
            <ion-row>
              <ion-label style="font-size: 18px; font-style: bold;"> 
                 {{ coaster?.name }} 
              </ion-label>
            </ion-row>
            <ion-row>
            </ion-row>
            <ion-row>
              <ion-label style="font-size: 15px;" color="medium"> {{ coaster?.park?.name }}</ion-label>
            </ion-row>
            <ion-row>
              <ion-label style="font-size: 15px;" color="medium"> {{ coaster?.manufacturer?.name }}</ion-label>
            </ion-row>
          </ion-col>
            
      </ion-item>
    </ion-list>
    
  <p *ngIf="coasterInput == ''" style="text-align:center; padding: 0px; font-size:115%;">Can't find the coaster?</p>
  <p *ngIf="coasterInput == ''" style="text-align:center; padding: 0px; font-size:115%;">Put in a custom one below!</p>

    <ion-item *ngIf="coasterInput == ''" lines="full">
      <ion-label color="dark" expand="full" style="padding: 0px"></ion-label>
    </ion-item>

      <ion-item *ngIf="coasterInput == ''" lines="full">
        <ion-label color="dark" expand="full"  style="padding-left: 0px" >Name: </ion-label>
        <ion-input (keypress)="closeKeyboard($event.keyCode)" autocomplete="off" enterkeyhint = "done" [(ngModel)]="manualCredit.name"></ion-input>
      </ion-item>
    
      <ion-button *ngIf="coasterInput == ''" expand= "block" fill="solid" strong = "true" color = "primary" size="default" (click)="submitManual(manualCredit);">Submit</ion-button>
      
     
  
</ion-content>

<ion-footer *ngIf="this.selectOption">
  <ion-toolbar>
    <h1 class="ion-text-center" style="padding-top: 5px; font-style: bold; font-size: 30px;" >
      {{"Selected: " + selectedList.length }}
    </h1>
    <ion-buttons slot="end">
      <ion-button id="changeText" (click)="pushSelectedList()">
        <ion-icon slot="start" name="add" style="height: 35px; width: 35px;"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons  slot="start" style="padding-left: 0px; padding-top: 10px">
      <ion-button (click)="clearSelected()">
        Clear
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>
