<ion-header style="padding: 12px;">
  <ion-item style="width: 100%" lines="none">
    <ion-title style="font-weight: bold; font-size: 1.5rem;">Explore</ion-title>
  </ion-item>
  <ion-item style="width: 100%" lines="none">
    <ion-searchbar (keypress)="keyPress($event.keyCode)" (ionInput)="ionInputEvent()" placeholder="Fury 325, Magic Mountain, RMC..." animated="true" showCancelButton="focus" enterkeyhint="done" debounce="430" (ionFocus)="clearFab()" (ionBlur)="showFab()" [(ngModel)]="this.dbSearch" style="border-radius: 10px; margin: 5px;"> </ion-searchbar>
  </ion-item>
</ion-header>


  <ion-content overflow-scroll="true">
    <ion-spinner *ngIf="this.searched && this.database.length == 0" style="height:4%; width:4%; position: absolute; top: 20vh; left: 35vw; width: 30vw"></ion-spinner>
    <ion-toast trigger="open-toast" message="This toast will disappear after 5 seconds" [duration]="5000"></ion-toast>
    <ion-card *ngIf="!this.searched" style="padding-top: 20px;">
      <ion-card-header style="height: 1%;">
          <ion-icon style="position: absolute; right: 87.5%; top: 15%;" name="refresh-outline" color="dark" size="large" (click)="getRandomCoaster()"></ion-icon>
          <p align="center" style="font-size: 24px; font-weight: bold;">Random Coaster: </p>
          <ion-icon style="position: absolute; left: 87.5%; top: 15%;" [routerLink]="randomCoaster?.id ? ['./ride', randomCoaster.id] : null" name="information-circle-outline" color="dark" size="large"></ion-icon>
      </ion-card-header>
      <ion-card-content>
        <img [src]="this.randomCoaster?.image ? coastersService.getCoasterLargeImage(this.randomCoaster.image) : ''" style="display: block; margin: 0 auto;"/>
        <p align="center" style="font-size:24px; overflow:hidden; text-overflow: ellipsis; white-space: nowrap; font-weight:bold; padding-top: 6px;">{{this.randomCoaster?.name}}</p>
        <p align="center" style="font-size:18px; overflow:hidden; text-overflow: ellipsis; white-space: nowrap;">{{this.randomCoaster?.park?.name}}</p>
        <p align="center" style="font-size:18px; overflow:hidden; text-overflow: ellipsis; white-space: nowrap;">{{this.randomCoaster?.make?.name}}</p>
      </ion-card-content>
    </ion-card>
    <ion-list style="background: transparent; padding-left: 8px;">
      <ion-item color="{{object.type == 'ride' ? '' : 'light'}}" *ngFor="let object of database; let indexOfelement=index;" style="padding-top: 8px; padding-bottom: 8px; border-radius: 30px;" [routerLink]="object?.id ? ['./', object.type, object.id] : null">
        <ion-thumbnail slot="start" *ngIf="object.type">
          <ion-avatar *ngIf="object.type == 'ride'">
            <ion-img [src]="getImg(object.image)"></ion-img>
          </ion-avatar>
          <ion-text *ngIf="object.type == 'park'">Park</ion-text>
          <ion-text *ngIf="object.type == 'make'">Make</ion-text>
          <ion-text *ngIf="object.type == 'parent'">Parent</ion-text>
        </ion-thumbnail>
        <ion-col>
          <ion-row>
            <ion-label style="font-size: 18px; font-style: bold;"> 
                {{ object?.name }}
            </ion-label>
          </ion-row>
          <ion-row>
            <ion-label style="font-size: 15px;" color="medium" *ngIf="object.type && object.type == 'ride'"> {{ object?.park?.name }} </ion-label>
            <ion-label style="font-size: 15px;" color="medium" *ngIf="object.type && object.type == 'park'"> {{ object?.parent?.name }} </ion-label>
            <ion-label style="font-size: 15px;" color="medium" *ngIf="object.type && object.type == 'make'"> {{ object?.location }} </ion-label>
          </ion-row>
        </ion-col>
      </ion-item>
    </ion-list>
  </ion-content>

  <!--Home Button-->
  <ion-fab [hidden]="fabHidden" vertical="bottom" horizontal="center" slot="fixed" style="height: 8vh">
    <ion-fab-button [routerLink]="'/home'" routerDirection="back" color="medium">
      <ion-icon style="color: white;" name="home"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ion-toolbar style="width: 100%; height: 7.82vh;" >
    <ion-tabs>
      <ion-tab-bar style="min-height: 45px; padding-bottom: 12px;" slot="bottom" selected-tab="database" > 

        <ion-tab-button [routerLink]="'/times'" routerDirection="back">
          <ion-icon name="stopwatch"></ion-icon>
          <ion-label>Wait Times</ion-label>
        </ion-tab-button>

        <ion-tab-button [routerLink]="'/log'" routerDirection="back">
          <ion-icon name="clipboard"></ion-icon>
          <ion-label>Log Rides</ion-label>
        </ion-tab-button>

        <ion-tab-button mode="ios"></ion-tab-button> <!--Blank Space For Home Button-->

        <ion-tab-button tab="database" [routerLink]="'/database'" routerDirection="forward">
          <ion-icon name="book"></ion-icon>
          <ion-label>Expliore</ion-label>
        </ion-tab-button>

        <ion-tab-button [routerLink]="'/navigate'" routerDirection="forward">
          <ion-icon name="compass"></ion-icon>
          <ion-label>Navigate</ion-label>
        </ion-tab-button>

      </ion-tab-bar>
    </ion-tabs>
    
  </ion-toolbar>

