<ion-menu side="start" menuId="first" swipeGesture="true" contentId="main" >
  <ion-header>
    <ion-toolbar class="ion-safe-area-top">
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <ion-item (click)="openStatsComponent()">
        <ion-icon name="podium-outline" slot="start"></ion-icon>
        <ion-label>Your Stats</ion-label>
      </ion-item>
      <!--
      <ion-item [routerLink]="'/dbedit'" detail="false">
        <ion-icon name="warning" slot="start" ></ion-icon>
        <ion-label>Request Database Entry</ion-label>
      </ion-item>
      -->
      <ion-item (click)="openFeedbackComponent()" detail="false">
        <ion-icon name="paper-plane-outline" slot="start"></ion-icon>
        <ion-label>Feedback</ion-label>
      </ion-item>
      <ion-item (click)="openLink('https://www.coasterbuddy.app/about')">
        <ion-icon name="information-circle-outline" slot="start"></ion-icon>
        <ion-label>About</ion-label>
      </ion-item>
      <ion-item (click)="openLink('https://www.coasterbuddy.app/terms')">
        <ion-icon name="book-outline" slot="start"></ion-icon>
        <ion-label>Terms and Conditions</ion-label>
      </ion-item>
      <ion-item (click)="openLink('https://www.coasterbuddy.app/privacy')">
        <ion-icon name="eye-off-outline" slot="start"></ion-icon>
        <ion-label>Privacy Policy</ion-label>
      </ion-item>
      <ion-item [routerLink]="'./settings'">
        <ion-icon name="settings" slot="start"></ion-icon>
        <ion-label>Settings</ion-label>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-menu>

<ion-router-outlet id="main"></ion-router-outlet>

<ion-content>

  <ion-toolbar class="ion-safe-area-top" style="top: 12px; height: 8vh; --background: transparent !important; --ion-color-base: transparent !important;">
    <ion-buttons slot="start" style="padding-left: 2vw; padding-top: 2vh">
      <ion-button color="dark" size = "large" (click)="openEnd()">
        <ion-icon name="menu" size="large"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end" style="padding-right: 10px; padding-top: 20px">
      <ion-button size = "large" (click)="openAddComponent();">
        <ion-text color="dark" style="font-weight: 900;">
          Add Rides
        </ion-text>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>

  <ion-card color="light" style="height: 40.25vh; width: 40.25vh; display: flex; flex-direction: column;">
    <ion-card-header>
      <ion-card-title [routerLink]="['./park', frontPark.name]" style="text-overflow: ellipsis;">{{ frontPark.name }}</ion-card-title>
    </ion-card-header>
      <ion-list style="padding: 0px; overflow: hidden; overflow-y: auto;" color="transparent">
            <ion-item class="frontList" mode="md" detail="false" *ngFor="let coaster of frontCoasters;" style="padding-bottom: 0px;" color="transparent">
              <ion-avatar slot="start" style="padding-left: 0px;">
                <ion-thumbnail size="large">
                  <!--Green Plus Mark-->
                  <ion-icon name="add" color="success" size="large" (click)="coastersService.pushCredit(coaster); coastersService.setData()" *ngIf="!coastersService.creditIsInList(coaster?.id)"></ion-icon> 
                  <!--Tally Counter-->
                  <ion-button (click)="coastersService.tallyCredit(coaster?.id); coastersService.setData()" *ngIf="coastersService.creditIsInList(coaster?.id) && coastersService.getCredit(coaster?.id).tally" color="transparent" style="--box-shadow:none; --ripple-color: transparent">
                    <ion-text style="font-size: 20px;" >{{ coastersService.getCredit(coaster?.id).tally }}</ion-text>
                    <ion-icon name="add"></ion-icon>
                  </ion-button>
                  <!--Generic Checkmark for incomplete Tally-->
                  <ion-icon name="checkmark" size="large" *ngIf="!(coastersService.getCredit(coaster?.id).tally || !coastersService.creditIsInList(coaster?.id))"></ion-icon>
                </ion-thumbnail>
              </ion-avatar>  
              <ion-avatar slot="end" [routerLink]="['./coaster', coaster?.id]" *ngIf="!coastersService.creditIsInList(coaster?.id)">
                <ion-thumbnail size="large">
                  <ion-icon name="information-circle-outline" color="dark" size="large"></ion-icon>
                </ion-thumbnail>
              </ion-avatar> 
              <ion-avatar slot="end" [routerLink]="['./credit', coaster?.id]" *ngIf="coastersService.creditIsInList(coaster?.id)">
                <ion-thumbnail size="large">
                  <ion-icon name="information-circle-outline" color="dark" size="large"></ion-icon>
                </ion-thumbnail>
              </ion-avatar>
              <ion-col>
                  <ion-row>
                    <ion-label style="font-size: 18px; text-overflow: ellipsis;"> 
                      {{ coaster?.name }} 
                    </ion-label>
                  </ion-row>
                </ion-col>
            </ion-item>
      </ion-list>
    
  </ion-card>

      <div *ngIf="frontTimesCoasters.length > 0" style="white-space: nowrap; overflow-x:scroll; --webkit-scrollbar:hidden; padding-bottom:4px;">
        <ion-chip *ngFor="let coaster of frontTimesCoasters" style="height: 5.5vh; max-width: 50vw; pointer-events: false; border-radius: 5px;">
          <ion-avatar style="height: 4.4vh !important; width: 4.4vh !important; align-items: center; justify-content: center; display: flex; background-color: {{ coaster.is_open ? (mainService.interpolateIonicColors('success', 'warning', Math.min(1-(coaster?.wait_time/120)))) : 'var(--ion-color-danger)' }}">
            <ion-text style="font-size: 2.2vh; font-weight: bold; color: black;" *ngIf="coaster.is_open">
              {{coaster?.wait_time}}
            </ion-text>
            <ion-icon name="close" size="large" style="color: black" *ngIf="!coaster.is_open"></ion-icon>
          </ion-avatar>
          <ion-text style="font-size: 2vh; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; flex: 1; font-weight: bold;">
            {{coaster?.name}}
          </ion-text>
        </ion-chip>
      </div>


</ion-content>

<!--Home Button-->
<ion-fab *ngIf="!hideHomeButton" vertical="bottom" horizontal="center" slot="fixed" style="height: 8vh;">
  <ion-fab-button color="tertiary">
    <ion-icon style="color: white;" name="home"></ion-icon>
  </ion-fab-button>
</ion-fab>

<ion-toolbar style="width: 100%; height: 7.82vh;">
  <ion-tabs>
    <ion-tab-bar style="min-height: 45px; padding-bottom: 12px;" slot="bottom" selected-tab="" > 

      <ion-tab-button [routerLink]="'/times'" routerDirection="back">
        <ion-icon name="stopwatch"></ion-icon>
        <ion-label>Wait Times</ion-label>
      </ion-tab-button>

      <ion-tab-button [routerLink]="'/log'" routerDirection="back">
        <ion-icon name="clipboard"></ion-icon>
        <ion-label>Log Rides</ion-label>
      </ion-tab-button>

      <ion-tab-button mode="ios"></ion-tab-button> <!--Blank Space For Home Button-->

      <ion-tab-button [routerLink]="'/database'" routerDirection="forward">
        <ion-icon name="book"></ion-icon>
        <ion-label>Database</ion-label>
      </ion-tab-button>

      <ion-tab-button [routerLink]="'/navigate'" routerDirection="forward">
        <ion-icon name="compass"></ion-icon>
        <ion-label>Navigate</ion-label>
      </ion-tab-button>

    </ion-tab-bar>
  </ion-tabs>
  
</ion-toolbar>

  