<ion-menu side="start" menuId="first" swipeGesture="true" contentId="main" >
  <ion-header>
    <ion-toolbar class="ion-safe-area-top">
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <ion-item (click)="openStatsComponent()">
        <ion-icon name="podium-outline" slot="start"></ion-icon>
        <ion-label>Your Stats</ion-label>
      </ion-item>
      <!--
      <ion-item [routerLink]="'/dbedit'" detail="false">
        <ion-icon name="warning" slot="start" ></ion-icon>
        <ion-label>Request Database Entry</ion-label>
      </ion-item>
      -->
      <ion-item (click)="openFeedbackComponent()" detail="false">
        <ion-icon name="paper-plane-outline" slot="start"></ion-icon>
        <ion-label>Feedback</ion-label>
      </ion-item>
      <ion-item (click)="openLink('https://www.coasterbuddy.app/about')">
        <ion-icon name="information-circle-outline" slot="start"></ion-icon>
        <ion-label>About</ion-label>
      </ion-item>
      <ion-item (click)="openLink('https://www.coasterbuddy.app/terms')">
        <ion-icon name="book-outline" slot="start"></ion-icon>
        <ion-label>Terms and Conditions</ion-label>
      </ion-item>
      <ion-item (click)="openLink('https://www.coasterbuddy.app/privacy')">
        <ion-icon name="eye-off-outline" slot="start"></ion-icon>
        <ion-label>Privacy Policy</ion-label>
      </ion-item>
      <ion-item [routerLink]="'./settings'">
        <ion-icon name="settings" slot="start"></ion-icon>
        <ion-label>Settings</ion-label>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-menu>

<ion-router-outlet id="main"></ion-router-outlet>

<ion-content>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed" style="padding-bottom: 24px; padding-right: 12px; ">
    <ion-fab-button expand="full" style="width: 72px; height: 72px;">
      <ion-icon name="cloud-upload" style="width: 46px; height: 46px;"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ion-toolbar class="ion-safe-area-top" style="top: 12px; height: 8vh; --background: transparent !important; --ion-color-base: transparent !important;">
    <ion-buttons slot="start" style="padding-left: 2vw; padding-top: 2vh">
      <ion-button color="dark" size = "large" (click)="openEnd()">
        <ion-icon name="menu" size="large"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>

  <ion-card *ngIf="this.frontPark.id" color="light" style="height: 42.5vh; display: flex; flex-direction: column;">
    <ion-card-header style="padding-bottom: 20px;">
      <ion-card-title style="text-overflow: ellipsis;">{{ frontPark.short_name ? frontPark.short_name : frontPark.name }}</ion-card-title>
      <ion-icon style="position: absolute; left: 85%;" [routerLink]="['./park', frontPark.id]" name="information-circle-outline" color="dark" size="large"></ion-icon>
    </ion-card-header>
    <ion-list style="padding: 0px; overflow: hidden; overflow-y: auto; color:transparent; background-color: transparent;">
      <ion-item [routerLink]="['./coaster', coaster?.id]" *ngFor="let coaster of frontCoasters;" style="background-color: transparent; height: 55px; border-width: 4px; border-color:blue" color="transparent">
        <ion-avatar slot="start" style="padding-left: 0px;">
          <ion-thumbnail size="large">
            <!--Green Plus Mark-->
            <ion-icon name="add" color="success" size="large" (click)="stopPropagation($event); coastersService.pushCredit(coaster); coastersService.setData(); " *ngIf="!coastersService.creditIsInList(coaster?.id)"></ion-icon> 
            <!--Tally Counter-->
            <ion-button (click)="stopPropagation($event); coastersService.tallyCredit(coaster?.id); coastersService.setData(); " *ngIf="coastersService.creditIsInList(coaster?.id) && coastersService.getCredit(coaster?.id).tally" color="transparent" style="--box-shadow:none; --ripple-color: transparent">
              <ion-text style="font-size: 20px;" >{{ coastersService.getCredit(coaster?.id).tally }}</ion-text>
              <ion-icon name="add"></ion-icon>
            </ion-button>
            <!--Generic Checkmark for incomplete Tally-->
            <ion-icon name="checkmark" size="large" *ngIf="!(coastersService.getCredit(coaster?.id).tally || !coastersService.creditIsInList(coaster?.id))"></ion-icon>
          </ion-thumbnail>
        </ion-avatar>
        <ion-avatar slot="end" style="padding-right: 85px;">
          <ion-thumbnail size="large" *ngIf="coaster.status.calculated_wait || coaster.status.posted_wait">
            <ion-chip *ngIf="!coaster.status.testing && (coaster.status.posted_wait && !coaster.status.calculated_wait)" style="
              font-size: 18px; color: black; 
              background-color: {{ mainService.interpolateIonicColors('success', 'warning', Math.min(1-(coaster.status.posted_wait/100))) }}
              ">
              {{coaster.status.posted_wait}}
              <ion-icon name="time" style="color:black"></ion-icon>
            </ion-chip>
            <ion-chip *ngIf="!coaster.status.testing && coaster.status.calculated_wait" style="
              font-size: 18px; 
              font-weight: bold;
              color: black; 
              background-color: {{ mainService.interpolateIonicColors('success', 'warning', Math.min(1-(coaster.status.calculated_wait/100))) }}
              ">
              {{coaster.status.calculated_wait}}
              <ion-icon name="hourglass-outline" style="color:black"></ion-icon>
            </ion-chip>
            <ion-chip *ngIf="coaster.status.testing" style="
              font-size: 18px; 
              font-weight: bold;
              color: black; 
              background-color: var(--ion-color-warning)
              ">
              
              <ion-icon name="warning-outline" style="color:black; padding-right: 12px;"></ion-icon>
            </ion-chip>
          </ion-thumbnail>
        </ion-avatar>
        <ion-label style="font-size: 20px; text-overflow: ellipsis;"> 
          {{ coaster.short_name ? coaster.short_name : coaster.name }}
        </ion-label>
      </ion-item>
    </ion-list>
  </ion-card>

  <ion-card *ngIf="!this.frontPark.id" color="transparent" style="height: 42.5vh; display: flex; flex-direction: column;">
    <ion-fab>
      <ion-fab-button style="height: 26.8vh; width: 26.8vh; " color="secondary">
        <ion-text color="light" style="font-weight:bold; font-size: 36px;">
          {{this.coastersService.credit_list.length}} Credits
        </ion-text>
      </ion-fab-button>
      <ion-fab-button style="height: 15.2vh; width: 15.2vh; position: absolute; left: 15%; top: 101%; pointer-events: none;" color="tertiary">
        <ion-text color="light" style="font-weight:bold; font-size: 21px;">
            {{this.coastersService.numberOfMansInCredits()}} Makes
        </ion-text>
      </ion-fab-button>
      <ion-fab-button style="height: 15.2vh; width: 15.2vh; position: absolute; left: 101%; top: 15%; pointer-events: none;" color="danger">
        <ion-text color="light" style="font-weight:bold; font-size: 21px;">
          {{this.coastersService.numberOfSpecialsInCredits()}} Specials
        </ion-text>
      </ion-fab-button>
      <ion-fab-button style="height: 19.55vh; width: 19.55vh; position: absolute; left: 75.5%; top: 75.5%; pointer-events: none;" color="success">
        <ion-text color="light" style="font-weight:bold; font-size: 28px;">
          {{this.coastersService.numberOfParksInCredits()}} Parks
        </ion-text>
      </ion-fab-button>
    </ion-fab>
  </ion-card>
</ion-content>

<!--Home Button-->
<ion-fab *ngIf="!hideHomeButton" vertical="bottom" horizontal="center" slot="fixed" style="height: 8vh;">
  <ion-fab-button color="tertiary">
    <ion-icon style="color: white;" name="home"></ion-icon>
  </ion-fab-button>
</ion-fab>

<ion-toolbar style="width: 100%; height: 7.82vh;">
  <ion-tabs>
    <ion-tab-bar style="min-height: 45px; padding-bottom: 12px;" slot="bottom" selected-tab="" > 

      <ion-tab-button [routerLink]="'/times'" routerDirection="back">
        <ion-icon name="stopwatch"></ion-icon>
        <ion-label>Wait Times</ion-label>
      </ion-tab-button>

      <ion-tab-button [routerLink]="'/log'" routerDirection="back">
        <ion-icon name="clipboard"></ion-icon>
        <ion-label>Log Rides</ion-label>
      </ion-tab-button>

      <ion-tab-button mode="ios"></ion-tab-button> <!--Blank Space For Home Button-->

      <ion-tab-button [routerLink]="'/database'" routerDirection="forward">
        <ion-icon name="book"></ion-icon>
        <ion-label>Explore</ion-label>
      </ion-tab-button>

      <ion-tab-button [routerLink]="'/navigate'" routerDirection="forward">
        <ion-icon name="compass"></ion-icon>
        <ion-label>Navigate</ion-label>
      </ion-tab-button>

    </ion-tab-bar>
  </ion-tabs>
  
</ion-toolbar>

  